.login-form{
    width:400px !important;
    background-color:#52595D;
    color:white;
    margin-top:20px;
}
.login-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius:50%;
}