{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sub-header">
    <h3 class="sub-header-text">Generate QR Code</h3>
</div>
<div>
    <form>
        <div class="w-100" style="display:flex;flex-wrap: wrap; padding: 10px;">
            <div style="width: 50%; display: flex;" class="select-option">
                <div style="width: 40%;">
                    <label class="sel-label"><b>Select Zone</b></label>
                </div>
                <div style="width: 80%;">
                    <select class="form-control" style="width: 300px;">
                        <option>Large select</option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; display: flex;" class="select-option">
                <div style="width: 40%;">
                    <label class="sel-label"><b>Select Range</b></label>
                </div>
                <div style="width: 80%;">
                    <select class="form-control" style="width: 300px;">
                        <option>Large select</option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; display: flex;" class="select-option">
                <div style="width: 40%;">
                    <label class="sel-label"><b>Select Destrict</b></label>
                </div>
                <div style="width: 80%;">
                    <select class="form-control" style="width: 300px;">
                        <option>Large select</option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; display: flex;" class="select-option">
                <div style="width: 40%;">
                    <label class="sel-label"><b>Select Sub Division</b></label>
                </div>
                <div style="width: 80%;">
                    <select class="form-control" style="width: 300px;">
                        <option>Large select</option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; display: flex;" class="select-option">
                <div style="width: 40%;">
                    <label class="sel-label"><b>Select Police Station</b></label>
                </div>
                <div style="width: 80%;">
                    <select class="form-control" style="width: 300px;">
                        <option>Large select</option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; display: flex;" class="select-option">
                <div style="width: 40%;">
                    <label class="sel-label"><b>Select Police Post</b></label>
                </div>
                <div style="width: 80%;">
                    <select class="form-control" style="width: 300px;">
                        <option>Large select</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="display:flex; float:right !important;">
            <div style="width: 100%; display: flex;" class="select-option">
                <button class="btn btn-primary" id="abc" style="margin-left:10px;">Generate QR Code</button>
            </div>
        </div>
</div>
</form>
</div>
{% endblock %}