{% extends 'base.html' %}
{% load static %}

{% block content %} 
<aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                <li class="active treeview">
                    <a class="waves-effect" id="home" style="background-color: gray;" id="change_password"  href="app">
                        <i class="icon-speedometer"></i><span> Dashboard</span>
                    </a>                
                </li> 
                <li class="active treeview">
                  <a class="waves-effect" id="report" style="background-color: gray;"href="report">
                      <i class="icon-list"></i><span> Report</span>
                  </a>                
               </li> 
               <li class="active treeview">
                  <a class="waves-effect" id="qr_code" href="qr_code">
                     <i class="icon-event"></i><span> Generate QR Code</span>
                  </a>                
               </li>     
               <li class="active treeview">
                  <a class="waves-effect" id="create_user" style="background-color: gray;"  href="create-user">
                     <i class="icon-user"></i><span> Create User</span>
                  </a>                
               </li> 
               <li class="active treeview">
                  <a class="waves-effect"  style="background-color: gray;"   href="change-password">
                     <i class="icon-key"></i><span> Change Password</span>
                  </a>                
               </li>        
            </ul> 
         </section>
      </aside>
<div class="content-wrapper">
         <!-- Container-fluid starts -->
         <!-- Main content starts -->
         <div class="container-fluid">
            <div class="row">
               <div class="main-header">
                  <h4>Dashboard</h4>
               </div>
            </div> 
            <!-- 1-3-block row start -->
            <div class="row"> 
               <div class="col-sm-12" style="background-color: gainsboro; height: auto;"> 
                  <div class="col-sm-6"> 
                     <div class="d-flex p-10"> 
                           <label class="form-label">Select Zone</label>
                           <select class="form-control" style="width: 70%; position: absolute; right:0;"> 
                              <option>Select</option>
                           </select>
                     </div>   
                     <div class="d-flex p-10"> 
                        <label class="form-label">Select Range</label>
                        <select class="form-control" style="width: 70%; position: absolute; right:0;"> 
                           <option>Select</option>
                        </select>
                     </div> 
                     <div class="d-flex p-10"> 
                     <label class="form-label">Select Destrict</label>
                     <select class="form-control" style="width: 70%; position: absolute; right:0;"> 
                        <option>Select</option>
                     </select> 
                     </div> 
                     
                  </div> 
                  <div class="col-sm-6">
                     <div class="d-flex p-10"> 
                        <label class="form-label">Select Sub Division</label>
                        <select class="form-control" style="width: 70%; position: absolute; right:0;"> 
                           <option>Select</option>
                        </select>
                  </div> 
                  <div class="d-flex p-10"> 
                     <label class="form-label">Select Police Station</label>
                     <select class="form-control" style="width: 70%; position: absolute; right:0;"> 
                        <option>Select</option>
                     </select>
               </div> 
               <div class="d-flex p-10"> 
                  <label class="form-label">Select Police Post</label>
                  <select class="form-control" style="width: 70%; position: absolute; right:0;"> 
                     <option>Select</option>
                  </select>
               </div>
                  </div> 
                  <br>
                  <br>
               </div> 
               <div class="d-flex p-10" style="text-align: center !important; float: right;">  
                  <div style="margin-left:10px">
                     <button class="btn btn-primary" style="width: 200px" type="submit">Generate QR Code</button> 
                  </div>
               </div> 
            </div>
            <!-- 1-3-block row end --> 
         </div> 
      </div>
   </div>
{% endblock %}