{% extends 'base.html' %}
{% load static %}

{% block content %} 
<aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                <li class="active treeview">
                    <a class="waves-effect" id="home" style="background-color: gray;" id="change_password"  href="app">
                        <i class="icon-speedometer"></i><span> Dashboard</span>
                    </a>                
                </li> 
                <li class="active treeview">
                  <a class="waves-effect" id="add_question" href="add_question" style="background-color: gray;">
                      <i class="icon-speedometer"></i><span> Add questions</span>
                  </a>                
               </li> 
                <li class="active treeview">
                  <a class="waves-effect" id="report" href="report">
                      <i class="icon-list"></i><span> Report</span>
                  </a>                
               </li> 
               <li class="active treeview">
                  <a class="waves-effect" id="qr_code" style="background-color: gray;"  href="qr_code">
                     <i class="icon-event"></i><span> Generate QR Code</span>
                  </a>                
               </li>     
               <li class="active treeview">
                  <a class="waves-effect" id="create_user" style="background-color: gray;"  href="create-user">
                     <i class="icon-user"></i><span> Create User</span>
                  </a>                
               </li> 
               <li class="active treeview">
                  <a class="waves-effect"  style="background-color: gray;"   href="change-password">
                     <i class="icon-key"></i><span> Change Password</span>
                  </a>                
               </li>        
            </ul> 
         </section>
      </aside>
<div class="content-wrapper">
         <!-- Container-fluid starts -->
         <!-- Main content starts -->
         <div class="container-fluid">
            <div class="row">
               <div class="main-header">
                  <h4>Dashboard</h4>
               </div>
            </div> 
            <!-- 1-3-block row start -->
            <div class="row"> 
               <div class="col-sm-12" style="background-color: gainsboro; min-height:200px;"> 
                  <div class="col-sm-6"> 
                     <form method="POST">{% csrf_token %}
                        Select Zone: <select name="subject" id="subject" class="form-control" style="width: 70%; position: absolute; right:0;">
                           <option value="" selected="selected">Select zone</option>
                        </select>
                        <br><br>
                        Select District: <select name="topic" id="topic" class="form-control" style="width: 70%; position: absolute; right:0;">
                           <option value="" selected="selected">Please select district first</option>
                        </select>
                        <br><br>
                        Select Division: <select data-live-search="true"  name="chapter" id="chapter" class="form-control selectpicker" style="width: 70%; position: absolute; right:0;">
                           <option value="" selected="selected">Please select division first</option>
                        </select>
                        <br><br> 
               </div>
                  </div> 
                  <br>
                  <br>
               </div> 
               <div class="d-flex p-10" style="text-align: center !important;"> 
                  <label class="form-label">Select By Date</label> 
                  &nbsp; &nbsp;
                  <input type="date" class="form-control" style="width: 25%; position: relative;"> 
                  <input type="date" class="form-control" style="width: 25%; position: relative;">  
                  <div style="margin-left:10px">
                     <button class="btn btn-primary" style="width: 200px" type="submit">Search</button> 
                     <button class="btn btn-danger" style="width: 200px;" type="reset">Reset</button>
                  </div>
               </div>  
            </div>
            <!-- 1-3-block row end --> 
         </div> 
      </div>
   </div>

   <script src=
   "https://code.jquery.com/jquery-3.5.1.js">
 </script>
 
 <script> 
//   $(document).ready(function(){
//    $("#p").click(function(){
//       val1=$('#subject').val(); 
//       val2=$('#topic').val(); 
//       val3=$('#chapter').val(); 
//       console.log(val1, val2, val3);  

// });
//   }); 
   // Function to HTML encode the text
   // This creates a new hidden element,
   // inserts the given text into it 
   // and outputs it out as HTML
   function htmlEncode(value) {
     return $('<div/>').text(value)
       .html();
   }
 
   $(function () {
 
     // Specify an onclick function
     // for the generate button
     $('#generate').click(function () {
 
       // Generate the link that would be
       // used to generate the QR Code
       // with the given data 
       let finalURL =
'https://chart.googleapis.com/chart?cht=qr&chl=' +
         htmlEncode($('#content').val()) +
         '&chs=160x160&chld=L|0'
 
       // Replace the src of the image with
       // the QR code image
       $('.qr-code').attr('src', finalURL);
     });
   });
 </script> 
 <script language="javascript" type="text/javascript">
   var subjectObject = {
 "Central_Gujarat": {
   "Ahmedabad":["Division A","Division B","Division C","Division D"],
   "Vadodara": ["Division A","Division B","Division C","Division D"],
   "Anand":["Division A","Division B","Division C","Division D"], 
   "Chhota":["Division A","Division B","Division C","Division D"], 
   "Dahod": ["Division A","Division B","Division C","Division D"], 
   "Kheda": ["Division A","Division B","Division C","Division D"], 
   "Mahisagar": ["Division A","Division B","Division C","Division D"], 
   "Panchmahal":["Division A","Division B","Division C","Division D"], 
 },
 "North_Gujarat": {
   "Gandhinagar": ["Variables", "Strings", "Arrays"],
   "Aravalli": ["SELECT", "UPDATE", "DELETE"], 
   "Banaskantha": ["SELECT", "UPDATE", "DELETE"], 
   "Mehsana": ["SELECT", "UPDATE", "DELETE"], 
   "Patan": ["SELECT", "UPDATE", "DELETE"], 
   "Sabarkantha": ["SELECT", "UPDATE", "DELETE"], 
 }, 
  "Saurashtra_Kutch": {
   "Rajkot": ["Variables", "Strings", "Arrays"],
   "Amreli": ["SELECT", "UPDATE", "DELETE"], 
   "Bhavnagar": ["SELECT", "UPDATE", "DELETE"],
   "Botad": ["SELECT", "UPDATE", "DELETE"],
   "Devbhoomi Dwarka": ["SELECT", "UPDATE", "DELETE"],
   "Gir Somnath": ["SELECT", "UPDATE", "DELETE"],
   "Jamnagar": ["SELECT", "UPDATE", "DELETE"],
   "Junagadh": ["SELECT", "UPDATE", "DELETE"],  
   "Morbi": ["SELECT", "UPDATE", "DELETE"], 
   "Porbandar": ["SELECT", "UPDATE", "DELETE"], 
   "Surendranagar": ["SELECT", "UPDATE", "DELETE"], 
   "Kachchh": ["SELECT", "UPDATE", "DELETE"],  

 }, 
  "South_Gujarat": {
   "Surat":[{
       "Division A":['Varachha Police Station','Kapodra Police Station','Sarthana Police Station'],
   }],
   "Bharuch": ["SELECT", "UPDATE", "DELETE"], 
   "Dang": ["SELECT", "UPDATE", "DELETE"],
   "Narmada": ["SELECT", "UPDATE", "DELETE"],
   "Narmada": ["SELECT", "UPDATE", "DELETE"],
   "Navsari": ["SELECT", "UPDATE", "DELETE"],
   "Tapi": ["SELECT", "UPDATE", "DELETE"],
   "Valsad": ["SELECT", "UPDATE", "DELETE"], 
 },
 
}
window.onload = function() { 
 var subjectSel = document.getElementById("subject");
 var topicSel = document.getElementById("topic");
 var chapterSel = document.getElementById("chapter");
 var policeSel = document.getElementById('police');
 for (var x in subjectObject) {
   subjectSel.options[subjectSel.options.length] = new Option(x, x);
 }
 subjectSel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    chapterSel.length = 1;
    topicSel.length = 1;
   policeSel = 1;
   //display correct values
   for (var y in subjectObject[this.value]) {
     topicSel.options[topicSel.options.length] = new Option(y, y);
   }
 }
 topicSel.onchange = function() {
    //empty Chapters dropdown
    chapterSel.length = 1;
   policeSel = 1;
   //display correct values
   var z = subjectObject[subjectSel.value][this.value];
   for (var i = 0; i < z.length; i++) {  
       chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]); 
     }
   } 
 } 
   </script> 




<script type="text/javascript"> 
$(document).ready(function(){ 
  $("#p").click(function(){ 
     val1=$('#subject').val(); 
     // debugger  
     val2=$('#topic').val(); 
     val3=$('#chapter').val(); 
     console.log(val1, val2, val3);
   $.ajax(
   {
       type:"GET",
       url: "{% url 'qr_generating_form' %}",
     //   data:{
     //            val1: val1, 
     //            val2:val2, 
     //            val3:val3, 
     //   }, 
       data:{"text1": val1,"text2":val2, "text3":val3, 'X-CSRFToken': '{{csrf_token}}' }, 

       success: function( data ) 
       {
           alert("Success"); 
       }, 
       error: function (data) {
               alert("Error");
           },  

}); 

});
 });
</script>
     </div>
  </div> 
{% endblock %}