{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'css/thank.css'%}"
    />
</head>
<body>
    <div class="bg-image"></div>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <img
            src="{% static 'images/gujarat-police-logo.png' %}"
            id="icon"
            alt="User Icon"
          />
        </div>
        <h1 class="active">Thanks for your feedback</h1>
        <h2><span style="color: red">Dial 112 </span>for any emergency</h2>
        <h2>Download <a href="https://play.google.com/store/apps/details?id=com.tcs.digigov.mobility.dhs.citizen.gj&hl=en_IN&gl=US">Citizen First Gujarat Police</a>App for online services</h2>
        <!-- Login Form -->
        <form>
    
        </form>
      </div>
    </div>
</body>
</html>