.login-form{
    background-color:#9FA398;
    color:white;
    width:500px !important;
    min-height:100%;
}
.login-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius:50%;
}
.links{
    color:white;
}
.dashboard{
    color:white;
    margin:0 !important;
    padding:0 !important;
    display:flex;
}
.menu-bar{
    background-color:gray;
    min-height:900px;
    width:20%;
}
.content{
    background-color:#f1f1f1;
    min-height:900px;
    width:80%;
}
.menu-item-text{
    background-color:darkgray;
    height:70px;
    padding-top:7px;
    cursor:pointer;
    list-style:none;
}
.menu-item-text:hover{
    background-color:#f1f1f1;
    color:black;
    height:40px;
    padding-top:7px;
    cursor:pointer;
    list-style:none;
}
.header{
    height:70px;
    background-color:gray;
}
#toggle{
    margin-top:10px;
    height:40px;
    color:white;
}
@media screen and (min-width: 1080px) {
  .login-form{
    margin-top:10px;
    background-color:#9FA398;
    color:white;
    width:500px !important;
    }
    .login-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius:50%;
    }
    #toggle{
    display:none !important;
    }
}
@media screen and (max-width: 786px) {
  .login-form{
        background-color:#9FA398;
        color:white;
        width:100% !important;
        min-height:900px;
    }
    .login-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius:50%;
    }
    .dashboard{
        margin:0 !important;
        padding:0 !important;
        display:flex-wrap;
    }
.menu-bar{
        min-height:60px!important;
        background-color:gray;
        width:100%;
        display:none;
    }
.content{
        background-color:#f1f1f1;
        min-height:900px;
        width:100%;
    }
}